
	<div class="container-fluid">
    <div class="row">
        <div style="display:inline-block" class="col-lg-8">

    			<%= image_tag("defaultpusheen.gif") %>
          <br>
    			Level: <%= @user.level %>
          <br>
          Equipped: <%= @item.name %>
          <br>
          <%= button_to "Store", store_path, form: {style: "display:inline-block"}, :class => "btn btn-primary", :method => :get %>
        </div>
        <div class="col-lg-4">
            <h2>Tasks</h2>
            <p>
                <%= simple_form_for @task, :url => {:action => "create", :controller => "tasks"} do |f| %>

            		<%= f.input :description, placeholder: "add a new task", :input_html => {:style=> 'float:right'}%>
            		<%= f.input :value, placeholder: "difficulty: 1-10", :input_html => {:style=> 'float:right'} %>
            		<%= f.button :submit, class: "btn-primary", style: "float:right"%>

            		<%end %>
            </p>
            <p>
            	<%if @user.tasks%>
            		<%@user.tasks.each do |task| %>
            		<br/>
            			<%= task.description %> <%= task.value%>
            		<%end%>
            	<%end%>
            	</p>
        </div>
    </div>
</div>

<form class="form_style">
        <input type="text" class="search" placeholder="add a new task" required>
        <input type="button" class="button" value="Add">
</form>
