
	<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8">
            <h3>Welcome to Pawductivity</h3>

			<%= image_tag("defaultpusheen.gif") %>
			Level: <%= @user.level %>
        </div>
        <div class="col-lg-4">
            <h2>Tasks</h2>
            <p> 
                <%= simple_form_for @task, :url => {:action => "create", :controller => "tasks"} do |f| %>

		<%= f.input :description, placeholder: "add a new task", :input_html => {:style=> 'float:right'}%> 
		<%= f.input :value, placeholder: "difficulty: 1-10", :input_html => {:style=> 'float:right'} %> 
		<%= f.button :submit, class: "btn-primary", style: "float:right"%> 

		<%end %>
            </p>
            <p>
	<%if @user.tasks%>
		<%@user.tasks.each do |task| %>
		<br/>
			<%= task.description %> <%= task.value%>
		<%end%>
	<%end%>
	</p>
        </div>
    </div>
</div>