
	<div class="container-fluid offset">
    <div class="row">
        <div style="margin-top:5%" class="col-md-6 centered">

    			<%= image_tag("#{@user.pic}pusheen.gif", :class => "avatar-img") %>
          <br><br>
					Avatars:
					<% @avatars.each do |a| %>
						<%= link_to(image_tag("#{a.name}pusheen.gif", :class => "button-img"), change_path(id: a.name), method: :patch) %>
					<% end %>
					<br><br>
    			Level: <%= @user.level %>
          <br>
					<% if @user.item_id != -1 %>
						Equipped: <%= @item.name %>
					<% else %>
						Equipped: None
					<% end %>
					<br>
					<% if @user.tpoints != 0 and @user.points <= @user.tpoints %>
						In training. You need <%= @user.tpoints - @user.points %> more points to level up.<br>
					<% end %>
          <br>
          <%= button_to "Visit Store", store_path, form: {style: "display:inline-block"}, :class => "btn btn-primary", :method => :get %>
        </div>

        <div class="col-md-6 task centered">
            <h2 style="margin-top: 5%">Tasks</h2>
            <p>
                <%= simple_form_for @task, :html => {:class => 'form-inline' }, :url => {:action => "create", :controller => "tasks"} do |f| %>

            		<%= f.input :description, label: false, placeholder: "add a new task"%>
            		<%= f.input :value, label: false, placeholder: "difficulty: 1-10" %>
            		<%= f.button :submit, class: "btn-primary"%>

            		<%end %>
            </p>
            <p>
            	<%if @user.tasks%>
            		<%@user.tasks.each do |task| %>

            		<br/>
            			<%= button_to "Done", complete_path(id: task), :method => :patch %><%= button_to "x", delete_path(id: task), :method => :patch %><%= task.description %> <%= task.value%>
            		<%end%>
            	<%end%>
            	</p>
        </div>
    </div>
</div>
