
	<div class="container-fluid offset">
    <div class="row">
        <div style="display:inline-block" class="col-md-4">
					Avatars:
					<% @avatars.each do |a| %>
						<%= link_to(image_tag("#{a.name}pusheen.gif", :class => "button-img"), change_path(id: a.name), method: :patch) %>
					<% end %>
					<br>
    				<%= image_tag("#{@user.pic}pusheen.gif", :class => "avatar-img") %>
          <br>
    			Level: <%= @user.level %>
          <br>
					<% if @user.item_id != -1 %>
						Equipped: <%= @item.name %>
						<br>
						In training.
					<% else %>
						<!-- FIX THE BUG HERE  -->
						Equipped: None
					<% end %>
          <br>
          <%= button_to "Store", store_path, form: {style: "display:inline-block"}, :class => "btn btn-primary", :method => :get %>
        </div>

        <div class="col-lg-4">
            <h2>Tasks</h2>
            <p>
                <%= simple_form_for @task, :url => {:action => "create", :controller => "tasks"} do |f| %>

            		<%= f.input :description, placeholder: "add a new task", :input_html => {:style=> 'float:right'}%>
            		<%= f.input :value, placeholder: "difficulty: 1-10", :input_html => {:style=> 'float:right'} %>
            		<%= f.button :submit, class: "btn-primary", style: "float:right"%>

            		<%end %>
            </p>
            <p>
            	<%if @user.tasks%>
            		<%@user.tasks.each do |task| %>
            		<br/>
            			<%= task.description %> <%= task.value%>
            		<%end%>
            	<%end%>
            	</p>
        </div>
    </div>
</div>
